nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1.5rem;
  font-size: 1.5rem;
  background: rgba(0, 170, 0, 0.1);
}

.navLogout {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background: #00aa00;
  border-radius: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease all;
}

.navLogout:hover {
  box-shadow: 0 0 1rem -0.2rem #00aa00;
}
